* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex; /*try centering with flexbox*/
}

.page-container {
	position: relative;
	width: 90%;
	height: 90%;
	max-width: 300px;  /*move this to a media query*/
	margin: 0 auto;
	padding: 0;
}

#img-container {
	position: absolute;
	overflow: hidden;
	width: 98%;
	height: 98%;
}

#img-container img {
	width: 120%;
	height: 120%;
	/*max-width: 1024px;*/
	margin-top: -100px;
	margin-left: -130px;
	position: absolute;
	transition-property: : opacity, transform;
	transition-duration: 5s, 10s;
	opacity: 0;

	transform-origin: bottom left;
}

#img-container :nth-child(2n+1) {
	transform-origin: top right;
}

#img-container :nth-child(3n+1) {
	transform-origin: top left;
}

#img-container :nth-child(4n+1) {
	transform-origin: bottom right;
} /*these rules give each consecutive image a different origin point*/

#img-container .transition:first-child + img ~ img {
	z-index: -1;
} /*this rule moves all images after the 2nd one down the stack. The tilde means any elements that come after the first 'argument' (left side) in HTML source order and are siblings of the second 'argument' (right side) and have the same attribute tag*/

#img-container .transition {
	opacity: 1;
	transform: scale(1.5) translate(30px);
}


/*to make black background for portrait images put images in div and make div backgrounds black*/

